
/*
p.caption {
  color: #777;
    margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.p1 {
  font-family: "Times New Roman", Times, serif;
}


.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: lightblue;
}



*/


