#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: "img/caa_seal.png";
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


/*
p.caption {
  color: #777;
    margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.p1 {
  font-family: "Times New Roman", Times, serif;
}


.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: lightblue;
}



*/


